
<div class="container" style="width: 100%">
  <div class="card" style="width: 20rem;">
    <img src="../assets/coala.jpeg" class="card-img" alt="...">
    <div class="card-body">
      <h5 class="card-title">Informações</h5>
      <p class="card-text"> Nome: Felipe Nunes <br> Idade: 17 anos <br> Escolaridade: Ensino Medio Incompleto <br> Cursando: DS</p>
      <a href="https://github.com/EduFel2AI" class="btn btn-primary" style="background-color: gray;">Go GitHub</a>
    </div>
  </div>
</div>
